/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * brandon-grotesque:
 *   - http://typekit.com/eulas/0000000000000000000132df
 *   - http://typekit.com/eulas/0000000000000000000132e0
 *   - http://typekit.com/eulas/0000000000000000000132e3
 *   - http://typekit.com/eulas/0000000000000000000132e4
 *   - http://typekit.com/eulas/0000000000000000000132db
 *   - http://typekit.com/eulas/0000000000000000000132dc
 *   - http://typekit.com/eulas/0000000000000000000132dd
 *   - http://typekit.com/eulas/0000000000000000000132de
 *   - http://typekit.com/eulas/0000000000000000000132e1
 *   - http://typekit.com/eulas/0000000000000000000132e2
 *   - http://typekit.com/eulas/0000000000000000000132e5
 *   - http://typekit.com/eulas/0000000000000000000132e6
 * canada-type-gibson:
 *   - http://typekit.com/eulas/00000000000000003b9b0ba9
 *   - http://typekit.com/eulas/00000000000000003b9b0baa
 *   - http://typekit.com/eulas/00000000000000003b9b0ba6
 *   - http://typekit.com/eulas/00000000000000003b9b0ba4
 *   - http://typekit.com/eulas/00000000000000003b9b0ba3
 *   - http://typekit.com/eulas/00000000000000003b9b0ba5
 *   - http://typekit.com/eulas/00000000000000003b9b0ba8
 *   - http://typekit.com/eulas/00000000000000003b9b0ba7
 * dolce:
 *   - http://typekit.com/eulas/00000000000000003b9b1e38
 *   - http://typekit.com/eulas/00000000000000003b9b1e39
 *   - http://typekit.com/eulas/00000000000000003b9b1e3a
 *   - http://typekit.com/eulas/00000000000000003b9b1e3b
 *   - http://typekit.com/eulas/00000000000000003b9b1e3c
 * hero-new:
 *   - http://typekit.com/eulas/00000000000000003b9af1d2
 *   - http://typekit.com/eulas/00000000000000003b9af1d3
 *   - http://typekit.com/eulas/00000000000000003b9af1d4
 *   - http://typekit.com/eulas/00000000000000003b9af1d5
 *   - http://typekit.com/eulas/00000000000000003b9af1d7
 *   - http://typekit.com/eulas/00000000000000003b9af1d8
 *   - http://typekit.com/eulas/00000000000000003b9af1d9
 *   - http://typekit.com/eulas/00000000000000003b9af1da
 *   - http://typekit.com/eulas/00000000000000003b9af1db
 *   - http://typekit.com/eulas/00000000000000003b9af1dc
 *   - http://typekit.com/eulas/00000000000000003b9af1dd
 *   - http://typekit.com/eulas/00000000000000003b9af1de
 *   - http://typekit.com/eulas/00000000000000003b9af1df
 *   - http://typekit.com/eulas/00000000000000003b9af1e0
 *   - http://typekit.com/eulas/00000000000000003b9af1e1
 *   - http://typekit.com/eulas/00000000000000003b9af1e2
 *   - http://typekit.com/eulas/00000000000000003b9af1e3
 * hero-new-hairline:
 *   - http://typekit.com/eulas/00000000000000003b9af1d0
 *   - http://typekit.com/eulas/00000000000000003b9af1d1
 * parisplus-clair:
 *   - http://typekit.com/eulas/00000000000000003b9b28ee
 *   - http://typekit.com/eulas/00000000000000003b9b28a4
 *   - http://typekit.com/eulas/00000000000000003b9b2810
 *   - http://typekit.com/eulas/00000000000000003b9b2830
 * yorkten-slab-normal:
 *   - http://typekit.com/eulas/00000000000000003b9b1cf6
 *   - http://typekit.com/eulas/00000000000000003b9b1cf7
 *   - http://typekit.com/eulas/00000000000000003b9b1dc0
 *   - http://typekit.com/eulas/00000000000000003b9b1dc1
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-04-09 05:31:32 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=bbo0nya&ht=tk&f=1895.1896.1897.1898.10294.10295.10296.10297.10298.10299.10300.10301.10302.10303.10304.10305.24349.24350.24351.24352.24353.24354.24355.24356.32854.32855.32856.32857.32858.32859.32861.32862.32863.32864.32865.32866.32867.32868.32869.32870.32871.32872.32873.38722.38723.38898.38899.39006.39007.39008.39009.39010&a=13132706&app=typekit&e=css");

@font-face {
font-family:"parisplus-clair";
src:url("https://use.typekit.net/af/1b84ee/00000000000000003b9b28ee/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1b84ee/00000000000000003b9b28ee/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1b84ee/00000000000000003b9b28ee/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"parisplus-clair";
src:url("https://use.typekit.net/af/86f3b3/00000000000000003b9b28a4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/86f3b3/00000000000000003b9b28a4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/86f3b3/00000000000000003b9b28a4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"parisplus-clair";
src:url("https://use.typekit.net/af/087087/00000000000000003b9b2810/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/087087/00000000000000003b9b2810/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/087087/00000000000000003b9b2810/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"parisplus-clair";
src:url("https://use.typekit.net/af/b867d2/00000000000000003b9b2830/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/b867d2/00000000000000003b9b2830/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/b867d2/00000000000000003b9b2830/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/333a5f/0000000000000000000132db/27/l?subset_id=2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/333a5f/0000000000000000000132db/27/d?subset_id=2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/333a5f/0000000000000000000132db/27/a?subset_id=2&fvd=n1&v=3") format("opentype");
font-style:normal;font-weight:100;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/919252/0000000000000000000132dc/27/l?subset_id=2&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/919252/0000000000000000000132dc/27/d?subset_id=2&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/919252/0000000000000000000132dc/27/a?subset_id=2&fvd=i1&v=3") format("opentype");
font-style:italic;font-weight:100;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/9f8c97/0000000000000000000132de/27/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/9f8c97/0000000000000000000132de/27/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/9f8c97/0000000000000000000132de/27/a?subset_id=2&fvd=i3&v=3") format("opentype");
font-style:italic;font-weight:300;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/ba2c35/0000000000000000000132e2/27/l?subset_id=2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/ba2c35/0000000000000000000132e2/27/d?subset_id=2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/ba2c35/0000000000000000000132e2/27/a?subset_id=2&fvd=i5&v=3") format("opentype");
font-style:italic;font-weight:500;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/l?subset_id=2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/d?subset_id=2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/a?subset_id=2&fvd=n9&v=3") format("opentype");
font-style:normal;font-weight:900;
}

@font-face {
font-family:"brandon-grotesque";
src:url("https://use.typekit.net/af/099730/0000000000000000000132e6/27/l?subset_id=2&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/099730/0000000000000000000132e6/27/d?subset_id=2&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/099730/0000000000000000000132e6/27/a?subset_id=2&fvd=i9&v=3") format("opentype");
font-style:italic;font-weight:900;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/b57156/00000000000000003b9b0ba3/27/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/b57156/00000000000000003b9b0ba3/27/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/b57156/00000000000000003b9b0ba3/27/a?subset_id=2&fvd=i3&v=3") format("opentype");
font-style:italic;font-weight:300;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/45681f/00000000000000003b9b0ba7/27/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/45681f/00000000000000003b9b0ba7/27/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/45681f/00000000000000003b9b0ba7/27/a?subset_id=2&fvd=i6&v=3") format("opentype");
font-style:italic;font-weight:600;
}

@font-face {
font-family:"hero-new-hairline";
src:url("https://use.typekit.net/af/37769a/00000000000000003b9af1d0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/37769a/00000000000000003b9af1d0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/37769a/00000000000000003b9af1d0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-style:normal;font-weight:100;
}

@font-face {
font-family:"hero-new-hairline";
src:url("https://use.typekit.net/af/13eddd/00000000000000003b9af1d1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/13eddd/00000000000000003b9af1d1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/13eddd/00000000000000003b9af1d1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
font-style:italic;font-weight:100;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/879dd3/00000000000000003b9af1d2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/879dd3/00000000000000003b9af1d2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/879dd3/00000000000000003b9af1d2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
font-style:italic;font-weight:100;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/9a2151/00000000000000003b9af1d3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/9a2151/00000000000000003b9af1d3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/9a2151/00000000000000003b9af1d3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-style:normal;font-weight:100;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/426f64/00000000000000003b9af1d4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/426f64/00000000000000003b9af1d4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/426f64/00000000000000003b9af1d4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
font-style:italic;font-weight:200;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/0060ec/00000000000000003b9af1d5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/0060ec/00000000000000003b9af1d5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/0060ec/00000000000000003b9af1d5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-style:normal;font-weight:200;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/f6ef0c/00000000000000003b9af1d7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/f6ef0c/00000000000000003b9af1d7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/f6ef0c/00000000000000003b9af1d7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/bcdde2/00000000000000003b9af1d8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/bcdde2/00000000000000003b9af1d8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/bcdde2/00000000000000003b9af1d8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/173a8e/00000000000000003b9af1d9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/173a8e/00000000000000003b9af1d9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/173a8e/00000000000000003b9af1d9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/ab749c/00000000000000003b9af1da/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/ab749c/00000000000000003b9af1da/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/ab749c/00000000000000003b9af1da/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/86f0af/00000000000000003b9af1db/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/86f0af/00000000000000003b9af1db/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/86f0af/00000000000000003b9af1db/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-style:italic;font-weight:500;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/d0c3d5/00000000000000003b9af1dc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/d0c3d5/00000000000000003b9af1dc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/d0c3d5/00000000000000003b9af1dc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-style:italic;font-weight:600;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/d27081/00000000000000003b9af1dd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/d27081/00000000000000003b9af1dd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/d27081/00000000000000003b9af1dd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/5424c6/00000000000000003b9af1de/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/5424c6/00000000000000003b9af1de/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/5424c6/00000000000000003b9af1de/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/8db0ad/00000000000000003b9af1df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8db0ad/00000000000000003b9af1df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8db0ad/00000000000000003b9af1df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/c5e472/00000000000000003b9af1e0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/c5e472/00000000000000003b9af1e0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/c5e472/00000000000000003b9af1e0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-style:normal;font-weight:800;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/69736a/00000000000000003b9af1e1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/69736a/00000000000000003b9af1e1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/69736a/00000000000000003b9af1e1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-style:italic;font-weight:800;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/07591c/00000000000000003b9af1e2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/07591c/00000000000000003b9af1e2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/07591c/00000000000000003b9af1e2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-style:normal;font-weight:900;
}

@font-face {
font-family:"hero-new";
src:url("https://use.typekit.net/af/a4d169/00000000000000003b9af1e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/a4d169/00000000000000003b9af1e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/a4d169/00000000000000003b9af1e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-style:italic;font-weight:900;
}

@font-face {
font-family:"yorkten-slab-normal";
src:url("https://use.typekit.net/af/8790d5/00000000000000003b9b1cf6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8790d5/00000000000000003b9b1cf6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8790d5/00000000000000003b9b1cf6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"yorkten-slab-normal";
src:url("https://use.typekit.net/af/e0e1d4/00000000000000003b9b1cf7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/e0e1d4/00000000000000003b9b1cf7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/e0e1d4/00000000000000003b9b1cf7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"yorkten-slab-normal";
src:url("https://use.typekit.net/af/05a40e/00000000000000003b9b1dc0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/05a40e/00000000000000003b9b1dc0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/05a40e/00000000000000003b9b1dc0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"yorkten-slab-normal";
src:url("https://use.typekit.net/af/6744af/00000000000000003b9b1dc1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/6744af/00000000000000003b9b1dc1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/6744af/00000000000000003b9b1dc1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"dolce";
src:url("https://use.typekit.net/af/4f198e/00000000000000003b9b1e38/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/4f198e/00000000000000003b9b1e38/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/4f198e/00000000000000003b9b1e38/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-style:normal;font-weight:200;
}

@font-face {
font-family:"dolce";
src:url("https://use.typekit.net/af/4c7b83/00000000000000003b9b1e39/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4c7b83/00000000000000003b9b1e39/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4c7b83/00000000000000003b9b1e39/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"dolce";
src:url("https://use.typekit.net/af/a36378/00000000000000003b9b1e3a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/a36378/00000000000000003b9b1e3a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/a36378/00000000000000003b9b1e3a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"dolce";
src:url("https://use.typekit.net/af/d57fa5/00000000000000003b9b1e3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d57fa5/00000000000000003b9b1e3b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d57fa5/00000000000000003b9b1e3b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"dolce";
src:url("https://use.typekit.net/af/2b8ff6/00000000000000003b9b1e3c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/2b8ff6/00000000000000003b9b1e3c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/2b8ff6/00000000000000003b9b1e3c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-style:normal;font-weight:900;
}

.tk-parisplus-clair { font-family: "parisplus-clair",sans-serif; }
.tk-brandon-grotesque { font-family: "brandon-grotesque",sans-serif; }
.tk-canada-type-gibson { font-family: "canada-type-gibson",sans-serif; }
.tk-hero-new-hairline { font-family: "hero-new-hairline",sans-serif; }
.tk-hero-new { font-family: "hero-new",sans-serif; }
.tk-yorkten-slab-normal { font-family: "yorkten-slab-normal",sans-serif; }
.tk-dolce { font-family: "dolce",sans-serif; }
