/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * canada-type-gibson:
 *   - http://typekit.com/eulas/00000000000000003b9b0ba9
 *   - http://typekit.com/eulas/00000000000000003b9b0baa
 *   - http://typekit.com/eulas/00000000000000003b9b0ba6
 *   - http://typekit.com/eulas/00000000000000003b9b0ba4
 *   - http://typekit.com/eulas/00000000000000003b9b0ba3
 *   - http://typekit.com/eulas/00000000000000003b9b0ba5
 *   - http://typekit.com/eulas/00000000000000003b9b0ba8
 *   - http://typekit.com/eulas/00000000000000003b9b0ba7
 * dolce:
 *   - http://typekit.com/eulas/00000000000000003b9b1e39
 *   - http://typekit.com/eulas/00000000000000003b9b1e3b
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-04-09 05:33:59 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=pla8zwu&ht=tk&f=24349.24350.24351.24352.24353.24354.24355.24356.39007.39009&a=13132706&app=typekit&e=css");

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/b57156/00000000000000003b9b0ba3/27/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/b57156/00000000000000003b9b0ba3/27/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/b57156/00000000000000003b9b0ba3/27/a?subset_id=2&fvd=i3&v=3") format("opentype");
font-style:italic;font-weight:300;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"canada-type-gibson";
src:url("https://use.typekit.net/af/45681f/00000000000000003b9b0ba7/27/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/45681f/00000000000000003b9b0ba7/27/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/45681f/00000000000000003b9b0ba7/27/a?subset_id=2&fvd=i6&v=3") format("opentype");
font-style:italic;font-weight:600;
}

@font-face {
font-family:"dolce";
src:url("https://use.typekit.net/af/4c7b83/00000000000000003b9b1e39/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4c7b83/00000000000000003b9b1e39/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4c7b83/00000000000000003b9b1e39/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"dolce";
src:url("https://use.typekit.net/af/d57fa5/00000000000000003b9b1e3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d57fa5/00000000000000003b9b1e3b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d57fa5/00000000000000003b9b1e3b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

.tk-canada-type-gibson { font-family: "canada-type-gibson",sans-serif; }
.tk-dolce { font-family: "dolce",sans-serif; }
